// Global
$primary-bg: #163753;

// Navigation
$navbar-collapse-min: 1275px;

// Sidebar
$sidebar-collapse-min: 950px;
$sidebar-collapse-max: 949px;

//colours
$black: #000;

// invoice text colours
$invoice-text-blue: #248;
$invoice-text-green: #779500;
$invoice-text-grey: #888;
$invoice-text-gold: #fb5;
$invoice-text-orange: #f60;
$invoice-text-red: #c00;

// scheduled actions colors
$scheduled-actions-light-blue-900: #005EFF;
$scheduled-actions-light-blue-300: #99BFFF;
$scheduled-actions-light-blue-100: #DCE9FF;
$scheduled-actions-light-blue-50: #F3F7FF;
$scheduled-actions-mid-blue-900: #0048C4;
$scheduled-actions-dark-blue-900: #163753;