/*============================= Roboto 1 ============================= */
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Regular.eot');
	src: url('../fonts/Roboto Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto Regular.woff2') format('woff2'),
		url('../fonts/Roboto Regular.woff') format('woff'),
		url('../fonts/Roboto Regular.svg#Roboto Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Roboto Light';
    src: url('../fonts/Roboto Light.eot');
    src: url('../fonts/Roboto Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto Light.woff2') format('woff2'),
        url('../fonts/Roboto Light.woff') format('woff'),
        url('../fonts/Roboto Light.svg#o Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Roboto Medium';
    src: url('../fonts/Roboto Medium.eot');
	src: url('../fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto Medium.woff2') format('woff2'),
		url('../fonts/Roboto Medium.woff') format('woff'),
		url('../fonts/Roboto Medium.svg#o Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Roboto Bold';
    src: url('../fonts/Roboto Bold.eot');
	src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto Bold.woff2') format('woff2'),
		url('../fonts/Roboto Bold.woff') format('woff'),
		url('../fonts/Roboto Bold.svg#Roboto Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf')  format('truetype'),
         url('../fonts/OpenSans-Light.svg#Open Sans Light') format('svg');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf')  format('truetype'),
         url('../fonts/OpenSans-Regular.svg#Open Sans') format('svg');
}
@font-face {
    font-family: 'Open Sans Medium';
    src: url('../fonts/OpenSans-Medium.eot');
    src: url('../fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Medium.woff2') format('woff2'),
         url('../fonts/OpenSans-Medium.woff') format('woff'),
         url('../fonts/OpenSans-Medium.ttf')  format('truetype'),
         url('../fonts/OpenSans-Medium.svg#Open Sans Medium') format('svg');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold.ttf')  format('truetype'),
         url('../fonts/OpenSans-SemiBold.svg#Open Sans SemiBold') format('svg');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf')  format('truetype'),
         url('../fonts/OpenSans-Bold.svg#Open Sans') format('svg');
}
/*================================ Montserrat font 3 ============================= */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.ttf')  format('truetype'),
         url('../fonts/Montserrat-Regular.svg#Montserrat') format('svg');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat-Light.ttf')  format('truetype'),
         url('../fonts/Montserrat-Light.svg#Montserrat Light') format('svg');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium.ttf')  format('truetype'),
         url('../fonts/Montserrat-Medium.svg#Montserrat Medium') format('svg');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'),
         url('../fonts/Montserrat-SemiBold.svg#Montserrat SemiBold') format('svg');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.ttf')  format('truetype'),
         url('../fonts/Montserrat-Bold.svg#Montserrat') format('svg');
}
/*============================= Lato 4 ============================= */
@font-face {
    font-family:'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family:'Lato-Medium';
    src: url('../fonts/Lato-Medium.eot');
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Medium.woff') format('woff'),
        url('../fonts/Lato-Medium.ttf') format('truetype'),
        url('../fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family:'Lato-Semibold';
    src: url('../fonts/Lato-Semibold.eot');
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf') format('truetype'),
        url('../fonts/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff2') format('woff2'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf')  format('truetype'),
         url('../fonts/Lato-Bold.svg#Lato') format('svg');
}
@font-face {
    font-family:'Lato-Heavy';
    src: url('../fonts/Lato-Heavy.eot');
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Heavy.woff') format('woff'),
        url('../fonts/Lato-Heavy.ttf') format('truetype'),
        url('../fonts/Lato-Heavy.svg#Lato-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
/*============================= Poppins 5 ============================= */
@font-face {
    font-family:'Poppins';
    src: url('../fonts/Poppins.eot');
    src: url('../fonts/Poppins.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins.woff2') format('woff2'),
        url('../fonts/Poppins.woff') format('woff'),
        url('../fonts/Poppins.svg#Poppins') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Poppins Light';
    src: url('../fonts/Poppins Light.eot');
    src: url('../fonts/Poppins Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins Light.woff2') format('woff2'),
        url('../fonts/Poppins Light.woff') format('woff'),
        url('../fonts/Poppins Light.svg#Poppins Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Poppins Medium';
    src: url('../fonts/Poppins Medium.eot');
    src: url('../fonts/Poppins Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins Medium.woff2') format('woff2'),
        url('../fonts/Poppins Medium.woff') format('woff'),
        url('../fonts/Poppins Medium.svg#Poppins Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Poppins SemiBold';
    src: url('../fonts/Poppins SemiBold.eot');
    src: url('../fonts/Poppins SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins SemiBold.woff') format('woff'),
        url('../fonts/Poppins SemiBold.svg#Poppins SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Poppins Bold';
    src: url('../fonts/Poppins Bold.eot');
    src: url('../fonts/Poppins Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins Bold.woff2') format('woff2'),
        url('../fonts/Poppins Bold.woff') format('woff'),
        url('../fonts/Poppins Bold.svg#Poppins Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
/*============================= Oswald 6 ============================= */
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular.woff2') format('woff2'),
         url('../fonts/Oswald-Regular.woff') format('woff'),
         url('../fonts/Oswald-Regular.ttf')  format('truetype'),
         url('../fonts/Oswald-Regular.svg#Oswald') format('svg');
}
@font-face {
    font-family: 'Oswald Light';
    src: url('../fonts/Oswald-Light.eot');
    src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light.woff2') format('woff2'),
         url('../fonts/Oswald-Light.woff') format('woff'),
         url('../fonts/Oswald-Light.ttf')  format('truetype'),
         url('../fonts/Oswald-Light.svg#Oswald Light') format('svg');
}
@font-face {
    font-family: 'Oswald Medium';
    src: url('../fonts/Oswald-Medium.eot');
    src: url('../fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Medium.woff2') format('woff2'),
         url('../fonts/Oswald-Medium.woff') format('woff'),
         url('../fonts/Oswald-Medium.ttf')  format('truetype'),
         url('../fonts/Oswald-Medium.svg#Oswald Medium') format('svg');
}
@font-face {
    font-family: 'Oswald SemiBold';
    src: url('../fonts/Oswald-SemiBold.eot');
    src: url('../fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
         url('../fonts/Oswald-SemiBold.woff') format('woff'),
         url('../fonts/Oswald-SemiBold.ttf')  format('truetype'),
         url('../fonts/Oswald-SemiBold.svg#Oswald SemiBold') format('svg');
}
@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold.woff2') format('woff2'),
         url('../fonts/Oswald-Bold.woff') format('woff'),
         url('../fonts/Oswald-Bold.ttf')  format('truetype'),
         url('../fonts/Oswald-Bold.svg#Oswald') format('svg');
}
/*============================= Raleway 7 ============================= */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.woff2') format('woff2'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf')  format('truetype'),
         url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
}
@font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Light.woff2') format('woff2'),
         url('../fonts/Raleway-Light.woff') format('woff'),
         url('../fonts/Raleway-Light.ttf')  format('truetype'),
         url('../fonts/Raleway-Light.svg#Raleway Light') format('svg');
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Medium.woff2') format('woff2'),
         url('../fonts/Raleway-Medium.woff') format('woff'),
         url('../fonts/Raleway-Medium.ttf')  format('truetype'),
         url('../fonts/Raleway-Medium.svg#Raleway Medium') format('svg');
}
@font-face {
    font-family: 'Raleway SemiBold';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
         url('../fonts/Raleway-SemiBold.woff') format('woff'),
         url('../fonts/Raleway-SemiBold.ttf')  format('truetype'),
         url('../fonts/Raleway-SemiBold.svg#Raleway SemiBold') format('svg');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf')  format('truetype'),
         url('../fonts/Raleway-Bold.svg#Raleway') format('svg');
}
/*============================= Nunito Sans 8 ============================= */
@font-face {
    font-family: 'Nunito Sans Light';
    src: url('../fonts/NunitoSans-Light.eot');
    src: url('../fonts/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NunitoSans-Light.woff2') format('woff2'),
         url('../fonts/NunitoSans-Light.woff') format('woff'),
         url('../fonts/NunitoSans-Light.ttf')  format('truetype'),
         url('../fonts/NunitoSans-Light.svg#Nunito Sans Light') format('svg');
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.eot');
    src: url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
         url('../fonts/NunitoSans-Regular.woff') format('woff'),
         url('../fonts/NunitoSans-Regular.ttf')  format('truetype'),
         url('../fonts/NunitoSans-Regular.svg#Nunito Sans') format('svg');
}
@font-face {
    font-family: 'Nunito Sans SemiBold';
    src: url('../fonts/NunitoSans-SemiBold.eot');
    src: url('../fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
         url('../fonts/NunitoSans-SemiBold.woff') format('woff'),
         url('../fonts/NunitoSans-SemiBold.ttf')  format('truetype'),
         url('../fonts/NunitoSans-SemiBold.svg#Nunito Sans SemiBold') format('svg');
}
@font-face {
    font-family: 'Nunito Sans Bold';
    src: url('../fonts/NunitoSans-Bold.eot');
    src: url('../fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
         url('../fonts/NunitoSans-Bold.woff') format('woff'),
         url('../fonts/NunitoSans-Bold.ttf')  format('truetype'),
         url('../fonts/NunitoSans-Bold.svg#Nunito Sans') format('svg');
}
/*============================= Noto Serif 9 ============================= */
@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.eot');
    src: url('../fonts/NotoSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSerif-Regular.woff2') format('woff2'),
         url('../fonts/NotoSerif-Regular.woff') format('woff'),
         url('../fonts/NotoSerif-Regular.ttf')  format('truetype'),
         url('../fonts/NotoSerif-Regular.svg#Noto Serif') format('svg');
}
@font-face {
    font-family: 'Noto Serif Bold';
    src: url('../fonts/NotoSerif-Bold.eot');
    src: url('../fonts/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
         url('../fonts/NotoSerif-Bold.woff') format('woff'),
         url('../fonts/NotoSerif-Bold.ttf')  format('truetype'),
         url('../fonts/NotoSerif-Bold.svg#Noto Serif') format('svg');
}
/*============================= Josefin Sans 10 ============================= */
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
         url('../fonts/JosefinSans-Regular.woff') format('woff'),
         url('../fonts/JosefinSans-Regular.ttf')  format('truetype'),
         url('../fonts/JosefinSans-Regular.svg#Josefin Sans') format('svg');
}
@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../fonts/JosefinSans-Light.eot');
    src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JosefinSans-Light.woff2') format('woff2'),
         url('../fonts/JosefinSans-Light.woff') format('woff'),
         url('../fonts/JosefinSans-Light.ttf')  format('truetype'),
         url('../fonts/JosefinSans-Light.svg#Josefin Sans Light') format('svg');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../fonts/JosefinSans-Medium.eot');
    src: url('../fonts/JosefinSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JosefinSans-Medium.woff2') format('woff2'),
         url('../fonts/JosefinSans-Medium.woff') format('woff'),
         url('../fonts/JosefinSans-Medium.ttf')  format('truetype'),
         url('../fonts/JosefinSans-Medium.svg#Josefin Sans Medium') format('svg');
}
@font-face {
    font-family: 'Josefin Sans SemiBold';
    src: url('../fonts/JosefinSans-SemiBold.eot');
    src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
         url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
         url('../fonts/JosefinSans-SemiBold.ttf')  format('truetype'),
         url('../fonts/JosefinSans-SemiBold.svg#Josefin Sans SemiBold') format('svg');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../fonts/JosefinSans-Bold.eot');
    src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
         url('../fonts/JosefinSans-Bold.woff') format('woff'),
         url('../fonts/JosefinSans-Bold.ttf')  format('truetype'),
         url('../fonts/JosefinSans-Bold.svg#Josefin Sans') format('svg');
}
/*============================= Inter 11 ============================= */
@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter-Light.eot');
    src: url('../fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inter-Light.woff2') format('woff2'),
         url('../fonts/Inter-Light.woff') format('woff'),
         url('../fonts/Inter-Light.ttf')  format('truetype'),
         url('../fonts/Inter-Light.svg#Inter Light') format('svg');
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter-Regular.woff') format('woff'),
         url('../fonts/Inter-Regular.ttf')  format('truetype'),
         url('../fonts/Inter-Regular.svg#Inter') format('svg');
}
@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.eot');
    src: url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inter-Medium.woff2') format('woff2'),
         url('../fonts/Inter-Medium.woff') format('woff'),
         url('../fonts/Inter-Medium.ttf')  format('truetype'),
         url('../fonts/Inter-Medium.svg#Inter Medium') format('svg');
}
@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/Inter-SemiBold.eot');
    src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../fonts/Inter-SemiBold.woff') format('woff'),
         url('../fonts/Inter-SemiBold.ttf')  format('truetype'),
         url('../fonts/Inter-SemiBold.svg#Inter SemiBold') format('svg');
}
@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.eot');
    src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inter-Bold.woff2') format('woff2'),
         url('../fonts/Inter-Bold.woff') format('woff'),
         url('../fonts/Inter-Bold.ttf')  format('truetype'),
         url('../fonts/Inter-Bold.svg#Inter') format('svg');
}
/*==================== muli font 12 ============================= */
@font-face {
font-family: 'Muli Regular';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli Regular'), url('../fonts/Muli-Regular.woff') format('woff');
}
@font-face {
font-family: 'Muli Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli Italic'), url('../fonts/Muli-Italic.woff') format('woff');
}
@font-face {
font-family: 'Muli ExtraLight';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli ExtraLight'), url('../fonts/Muli-ExtraLight.woff') format('woff');
}
@font-face {
font-family: 'Muli Light';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli Light'), url('../fonts/Muli-Light.woff') format('woff');
}
@font-face {
font-family: 'Muli SemiBold';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli SemiBold'), url('../fonts/Muli-SemiBold.woff') format('woff');
}
@font-face {
font-family: 'Muli Bold';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli Bold'), url('../fonts/Muli-Bold.woff') format('woff');
}
@font-face {
font-family: 'Muli ExtraBold';
font-style: normal;
font-weight: normal;
src: local('../fonts/Muli ExtraBold'), url('../fonts/Muli-ExtraBold.woff') format('woff');
}